.about_me {
  /* +7 960 090 1108 */

  width: 168px;
  height: 19px;
  left: 420px;
  top: 44px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;

  color: #ffffff;
}
.box {  
  /* Rectangle 6 */

  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 289px;
   font-size: 18px;

  border: 1px solid #004c93;
  border-radius: 4px;
}
.box-title {
  /* 1 */

  position: absolute;
  width: 55px;
  height: 190px;
  left: 20px;
  top: 0px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 160%;
  /* or 192px */

  color: #004c93;
}
.box-content {
  /* Работаю в сфере разработки программного обеспечения */

  position: absolute;
  width: 175px;
  height: 120px;
  left: 20px;
  top: 160px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  /* or 26px */

  color: #2e4674;
}
button {
  /* Rectangle 10 */

  position: absolute;
  width: 168px;
  height: 50px;
  left: 0px;

  background: #004c93;
  border-radius: 5px;
  top: 295px; 
  
  font-family: 'Roboto'; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 14px; 
  line-height: 160%; 
  color: #FFFFFF;
}
.calcul {
  /* Калькулятор */

  position: absolute;
  width: 100px;
  height: 19px;
  left: 910px;
  top: 44px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;

  color: #ffffff;
}
.child {
  width: 220px;
  height: 44px;
  top: 2446px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  /* identical to box height */

  color: #004c93;
}
.header {
  /* Сложности */

  position: absolute;
  width: 90px;
  height: 19px;
  left: 1055px;
  top: 44px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;

  color: #F3FBFF;
}
input {
  /* Rectangle 7 */

  box-sizing: border-box;

  position: absolute;
  width: 555px;
  height: 32px;

  border: 1px solid #000000;
}
.mary_footer {
  /* Олег Сосорев */
  height: 29px;
  left: 165px;
  top: 3185px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #fcfafa;
}
.mary {
  /* Меня зовут Олег! */

  position: absolute;
  width: 317px;
  height: 44px;
  left: 165px;
  top: 160px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  /* identical to box height */

  color: #004c93;
}
.mary2 {
  /* И я хочу обучиться программированию, потому что мне это жутко интересно! */

  position: absolute;
  width: 515px;
  height: 58px;
  left: 165px;
  top: 200px;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #004c93;
}
.mary4 {
  /* oleg 1 */
  justify-content: space-between;
  position: absolute;
  width: 350px;
  height: 500px;
  left: 810px;
  top: 0px;
}
.name {
  /* Олег Сосорев */
  position: absolute;
  height: 29px;
  left: 165px;
  top: 25px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
}
.name2 {
  position: absolute;

  height: 150px;
  left: 205px;
  top: 3175px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 138px;
  line-height: 29px;

  color: #ffffff;
}
.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 250px;
  height: 100px;
  left: 0px;
  top: 0px;
}
select {
  /* Rectangle 8 */

  box-sizing: border-box;

  position: absolute;
  width: 555px;
  height: 32px;

  border: 1px solid #000000;
}
.work2 {
  /* Моя деятельность */

  position: absolute;
  width: 339px;
  height: 44px;
  left: 165px;
  top: 864px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #004c93;
}